.btn1 {
  margin-left: 25px;
  width: 55%;
  background-color: rgb(237, 181, 181);
}
.btn2 {

  margin-left: 25px;
  width: 55%;
  margin-top: 30px;
  background-color: rgb(237, 231, 231);
}
.btn3 {

  margin-left: 25px;
  width: 55%;
  margin-top: 400px;
 
}
